.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  align-items: center;
  color: white;
  display: flex;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}